= form_for Article.new, :html => {:class => "form-horizontal"}, :remote => true do |f|
  -#= render 'shared/error_messages', target: @article
  .control-group
    = label :article, :title, :class => "control-label"
    .controls
      = text_field :article, :title, :required=>true, :title => 'This field is required'
  .control-group
    = label :article, :content, :class => "control-label"
    .controls
      = text_area :article, :content, :rows => 3, :required=>true, :title => 'This field is required'
  .control-group
    = f.button :class=>"btn btn-primary"
    %button.btn{:"data-dismiss"=>"modal", :'aria-hidden'=>"true"}
      Cancel